In [1]:
#Import Libraries
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from scipy import stats

In [2]:
#Read the data set
store_data = pd.read_csv(r'C:\Users\FDM_dataset\Market_Basket_Optimisation.csv')

In [3]:
store_data.head(3)

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#prepare lists for trasactions
records = []
for i in range(0, 7499):
    records.append([str(store_data.values[i,j]) for j in range(0, 10) if pd.notnull(store_data.values[i,j])])

In [5]:
#Pre processing the data(using translation encoder)
from mlxtend.preprocessing import TransactionEncoder

In [6]:
te = TransactionEncoder()
te_ary = te.fit(records).transform(records)
df = pd.DataFrame(te_ary, columns=te.columns_)

df.head()

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
#Apriori Algorithm 
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.05,use_colnames = True)

     support                    itemsets
0   0.087212                   (burgers)
1   0.079611                      (cake)
2   0.058941                   (chicken)
3   0.162555                 (chocolate)
4   0.079211                   (cookies)
5   0.178424                      (eggs)
6   0.077210                  (escalope)
7   0.166956              (french fries)
8   0.059608           (frozen smoothie)
9   0.095346         (frozen vegetables)
10  0.052407             (grated cheese)
11  0.125617                 (green tea)
12  0.098280               (ground beef)
13  0.070943            (low fat yogurt)
14  0.129617                      (milk)
15  0.238165             (mineral water)
16  0.065475                 (olive oil)
17  0.092412                  (pancakes)
18  0.071343                    (shrimp)
19  0.050540                      (soup)
20  0.174157                 (spaghetti)
21  0.068409                  (tomatoes)
22  0.062542                    (turkey)
23  0.057341          (whole wheat rice)
24  0.052007  (mineral water, chocolate)
25  0.050140       (mineral water, eggs)
26  0.059741  (spaghetti, mineral water)

In [8]:
#find frequent item sets
frequent_itemsets = apriori(df, min_support=0.05, use_colnames=True)

frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

frequent_itemsets

     support                    itemsets  length
0   0.087212                   (burgers)       1
1   0.079611                      (cake)       1
2   0.058941                   (chicken)       1
3   0.162555                 (chocolate)       1
4   0.079211                   (cookies)       1
5   0.178424                      (eggs)       1
6   0.077210                  (escalope)       1
7   0.166956              (french fries)       1
8   0.059608           (frozen smoothie)       1
9   0.095346         (frozen vegetables)       1
10  0.052407             (grated cheese)       1
11  0.125617                 (green tea)       1
12  0.098280               (ground beef)       1
13  0.070943            (low fat yogurt)       1
14  0.129617                      (milk)       1
15  0.238165             (mineral water)       1
16  0.065475                 (olive oil)       1
17  0.092412                  (pancakes)       1
18  0.071343                    (shrimp)       1
19  0.050540                      (soup)       1
20  0.174157                 (spaghetti)       1
21  0.068409                  (tomatoes)       1
22  0.062542                    (turkey)       1
23  0.057341          (whole wheat rice)       1
24  0.052007  (mineral water, chocolate)       2
25  0.050140       (mineral water, eggs)       2
26  0.059741  (spaghetti, mineral water)       2